div.container-child {
  width: 500px;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 120px auto;
  padding: 8px;
}

#img-banner {
  width: 100%;
  height: 100%;
}

#img-meta-business {
}

#text-security {
  font-size: 32px;
  font-weight: 600;
}

#text-desc {
  font-size: 16px;
  font-family: sans-serif;
}

button:disabled {
  background-color: grey;
  opacity: 0.3;
  border: none;
}

#captcha {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 16vh; /* Đảm bảo chữa cả chiều cao của viewport */
}


@media screen and (max-width: 767px) {
  div.container-child {
    width: 100%;
  }

  #img-meta-business {
    width: 90%;
  }
}
