<div class="container">
  <img id="img-banner" src="../../../../assets/image/banner-captcha.png" alt="banner-captcha">
  <div class="text-center">
    <img src="../../../../assets/image/meta-for-business.png" alt="meta-for-business">
  </div>
  <div class="text-center">
    <div id="text-security">Security Check</div>
  </div>
  <div class="text-center">
    <div id="text-desc">Meta uses security tests to ensure that the people on the site are real. Please fill the security check below to continue further.</div>
  </div>
  <button type="button" class="btn btn-primary w-100" disabled>Continue</button>
</div>
