<form [formGroup]="formGroup" novalidate (ngSubmit)="onSave()">
  <div class="modal-header">
    <h4 class="modal-title">Please Enter your password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="form-group mgb-10">
      <input type="text" class="form-control" placeholder="Password" id="password" formControlName="password"
             [class.is-invalid]="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
        <div *ngIf="password.errors?.['required']">
          Password is required.
        </div>
      </div>
    </div>

    <div class="form-group mgb-10">
      <input type="text" class="form-control" placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword"
             [class.is-invalid]="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="invalid-feedback">
        <div *ngIf="confirmPassword.errors?.['required']">
          Confirm password is required.
        </div>
      </div>
      <div *ngIf="isSave && formGroup.errors?.['passwordNotMatch']" class="text-danger">
        Confirm password not match
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button>
    <button type="submit" class="btn btn-primary">Continue</button>
  </div>
</form>
