<form [formGroup]="userForm">
  <div class="modal-header">
    <h4 class="modal-title">Đăng ký</h4>
<!--    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>-->
  </div>
  <div class="modal-body">
    <div class="form-group mgb-10">
      <input type="text" class="form-control" placeholder="Họ và tên" formControlName="userName">
    </div>
    <div class="form-group mgb-10">
      <input type="password" class="form-control" placeholder="Mật khẩu mới" formControlName="password">
    </div>
    <div class="form-group mgb-10">
      <input type="tel" class="form-control" placeholder="Số điện thoại" formControlName="phone">
    </div>
    <div class="form-group mgb-10">
      <input type="email" class="form-control" placeholder="Email" formControlName="email">
    </div>
    <div class="form-group mgb-10">
      <input type="email" class="form-control" placeholder="Mail Công ty" formControlName="mailCompany">
    </div>
    <div class="mgb-10">
      <label>Sinh nhật</label>
      <div class="row">
        <div class="col-4">
          <select class="form-select" name="day" formControlName="dateSelect">
            <option [value]="day" *ngFor="let day of days">{{day}}</option>
          </select>
        </div>
        <div class="col-4">
          <select class="form-select" name="month" formControlName="monthSelect">
            <option [value]="month" *ngFor="let month of months">Tháng {{month}}</option>
          </select>
        </div>
        <div class="col-4">
          <select class="form-select" name="year" formControlName="yearSelect">
            <option [value]="year" *ngFor="let year of years">{{year}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="mgb-10">
      <p class="text-desc">Những người dùng dịch vụ của chúng tôi có thể đã tải thông tin liên hệ của bạn lên Facebook.
        <a href="/help/637205020878504">Tìm hiểu thêm</a></p>
    </div>
    <div>
      <p class="text-desc">Bằng cách nhấp vào Đăng ký, bạn đồng ý với <a href="/legal/terms/update">Điều khoản</a>, <a
        href="/about/privacy/update">Chính sách quyền riêng tư</a> và <a href="/policies/cookies/">Chính sách cookie</a>
        của chúng tôi. Bạn có thể nhận được thông báo của chúng tôi qua SMS và hủy nhận bất kỳ lúc nào.</p>
    </div>
  </div>
  <div class="modal-footer">
<!--    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Đóng</button>-->
  </div>
</form>
