.card-text {
  font-size: 12px !important;
}

.btn-send {
  color: white;
  background-color: #365899;
  padding: 4px 10px;
  border: 1px solid #365899;
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

.input-form {
  width: 300px;
}
