.modal-header {
  background: none repeat scroll 0 0 #3b5998;
}

.card {
  border: none;
}

.btn-ok {
  color: white;
  background-color: #365899;
  padding: 4px 10px;
  border: 1px solid #365899;
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}
